.main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  appearance: none;
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 2px solid black;
}

.radio-form {
  display: flex;
  margin-top: 25px;
}

.radio-button {
  width: 25px;
  height: 25px;
}

.radio-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-top: 25px;
}

.grid-div {
  border: 1px solid black;
}

.grid-div:hover {
  cursor: pointer;
}

.reset-button {
  appearance: none;
  height: 50px;
  border: none;
  margin-top: 25px;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
}
